*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --verde: green;
  --gris:#666;
  --negro:#000;
  --blanco:hsl(0, 0%, 100%);
  
}

body{
  background-color: var(--blanco);
}

.contenedor{
  display: flex;
  margin: 20px auto;
  height: 600px;
  max-width: 350px;
  background-color: var(--blanco);
  font-family: Arial;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  
}

 .header{
  background-color: var(--verde);
  width: 100%;
  height: 90px;
  color: var(--blanco);
  padding: 10px;
 }

 .menu{
  max-width:450px;
  height: 40px;
  display: flex;
  margin-bottom: 10px;
 }
i{ 
  font-size: 20px;

} 
.submenu__what{
  margin-top: 12px;
}
.lupa__confi{
  margin-top:12px;
  padding-left: 60%;
  font-size: 20px ;
  
}

.items{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.barra__items{
  text-decoration: none;
  color: var(--blanco);
  font-size: 15px;
}
.content{
  display: flex;
  flex-direction: row;
  position: relative;
}
/*A*/
.content .chat{
  transition: all 600ms ease;
  opacity: 0;
  visibility: hidden;
  transform:scale(0.90);
}
.content .status{
  position: absolute;
  transition: all 600ms ease;
  opacity: 0;
  visibility: hidden;
  transform:scale(0.90);
}
.content .calls{
   position: absolute;
  transition: all 600ms ease;
  opacity: 0;
  visibility: hidden;
  transform:scale(0.90);
}

/*chats*/

  .main{
  overflow-y: scroll;
 } 

.Contactos__chats {
  display: flex;
  width: 100%;
  background-color: var(--blanco);
   flex-wrap: wrap;
}

.Chat__contenedor {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px;
  border-bottom: 1px solid var(--gris);
 cursor: pointer;
}

.fotos {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}

.chat_info {
  flex-grow: 1;
}

.nombre {
  display: flex;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ultimo__mensaje {
  font-size: 14px;
  color: var(--gris);
}
.ultimo__mensaje--verde{
  font-size: 14px;
  color: var(--verde);
}
.ultimo__mensaje--negrita{
  font-size: 14px;
  color: var(--negro);
}

.chat__time--verde {
  font-size: 12px;
  color: var(--verde);
  
}
.alerta--notificacion{
  display: flex;
  width: 20px;
  margin-left: 10px;
  background-color: var(--verde);
  color: var(--blanco);
  border-radius: 50%;
  justify-content: center;
 
}
.chat__time {
  font-size: 12px;
  color: var(--gris);
  margin-left: 10px;

}

.boton__contactos{
   display: flex;
  position: sticky;
  background-color: var(--verde);
  color: var(--blanco);
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-left: auto;

}

/*STATUS*/
.contenedor__status{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid var(--gris);
 cursor: pointer;
}
p{ font-size: 14px;
  color: var(--gris);}

.status__foto{
  width: 50px;
  height: 50px;
  border-radius: 100px ;
  margin-right: 10px;
   margin: 5px;
}
.status__foto--activos{
  width: 50px;
  height: 50px;
  border-radius: 100px ;
  margin-right: 10px;
  border: 3px solid var(--verde);
   margin: 5px;
}
.status__foto--inactivos{
  width: 50px;
  height: 50px;
  border-radius: 100px ;
  margin-right: 10px;
  border: 3px solid var(--gris);
   margin: 5px;
}
 /* CALLS */
 .contenedor__calls{
   /* display: flex;
  flex-direction: column;
  max-width: 350px;
  border: 1px solid; */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 9px;
  border-bottom: 1px solid var(--gris);
 cursor: pointer;
}
 
 .icono__enlace{
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100px ;
  margin-right: 10px;
  background-color: var(--verde);
  color: var(--blanco);
  border: 3px solid var(--verde);
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
 }
.actualizacion__texto,.recent__texto{
  margin: 15px;
   font-size: 14px;
  color: var(--gris);
}
.fotos__calls {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 10px;
}
.icono__telefono{
  display: flex;
  width: 20px;
  justify-content: center;
  margin-left: 165px;
  color: var(--verde);
}

#barra__itemschats:checked~.chat{
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}
#barra__itemsstatus:checked ~.status
{
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}
#barra__itemscalls:checked ~.calls{
    opacity: 1;
    visibility: visible;
    transform:scale(1);
}

 
